@font-face {
    font-family: 'GaramondReg';
    src: url(assets/fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: 'GaramondLight';
    src: url(assets/fonts/CormorantGaramond-Light.ttf);
}
@font-face {
    font-family: 'KarlaReg';
    src: url(assets/fonts/Karla-Regular.ttf);
}
@font-face {
    font-family: 'KarlaBold';
    src: url(assets/fonts/Karla-Bold.ttf);
}

/* Variables */
:root {
    --primary-red: #EC2F30;
    --primary-blue: #4169E1;
    --primary-dark: #16161D;

    --accent-1: rgb(180, 69, 69);
    --accent-2: rgb(179, 128, 128);

    --transition-duration: 200ms;
    
    --main-text-size: 18px;
}

body {
    margin: 0;
    background: #ffffff;
    margin-bottom: 20px;
    color: var(--primary-dark);
    font-family: 'KarlaReg', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GaramondLight';
}

strong {
    color: var(--accent-1);
    font-family: 'KarlaBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    /* filter: drop-shadow(2px 4px 6px black); */
}

.cover {
    /* background-image: url('assets/images/cover.jpg'); */
    height: 55vh;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
    filter: saturate(0.7);
    animation-name: fade;
    animation-duration: 1000ms;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.coverOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(20deg, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0)); */
}

@keyframes magic {
    0% {filter: grayscale(0) saturate(0.8);}
    40% {filter: grayscale(0.3) saturate(0.8);}
    80% {filter: grayscale(1) saturate(0.8);}
    100% {filter: grayscale(0) saturate(0.8);}
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.logo {
    width: 80px;
    margin-right: 10px;
    border: 3px solid #16161d;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.section {
    font-size: 20px;
    line-height: 1.5em;
}

.center {
    margin: auto;
    text-align: center;
}

.flex {
    display: flex;
}

.left {
    flex: 0.5
}

.right {
    flex: 0.4
}

.section-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.section-header-1 {
    font-family: 'GaramondLight';
    color: var(--accent-1);
    margin-bottom: 0;
}

.section-header-2 {
    margin: 0;
    margin-top: 10px;
}

.section-content {
    margin-top: 10px;
    flex: 0.5
}

.title {
    font-size: 120px;
    font-weight: 400;
    margin: 0;
}

code, pre, .code {
    font-family: 'Source Code Pro', monospace;
}

pre {
    margin: 0;
}

p {
    margin: 5px 0;
}

.githubLogo {
    max-width: 40px;
    height: 1em;
}

.code {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
    height: max-content;
    width: fit-content;
}

.sub-title {
    font-family: 'KarlaReg';
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -20px;
    font-weight: normal;
    margin-bottom: 0;
}

.main-card {
    
}

.corner-image {
    max-height: 350px;
    margin-top: -100px;
}

.description {
    max-width: 90%;
    font-size: 18px;
    line-height: 1.5em;
    animation-name: fade;
    animation-duration: 1000ms;
    margin: 10px auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.mainCode {
    margin: 10px auto;
    font-size: 16px;
}

.button {
    -webkit-appearance: none;
    background: var(--primary-dark);
    padding: 10px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
    color: white;
    font-family: 'KarlaReg';
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 20px;
    margin-right: 12px;
    min-width: 130px ;
    transition: filter 200ms ease-in-out;
}

.button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 4px 6px rgb(141, 141, 141))
}

.button:focus {
    outline: none;
}

hr {
    background: var(--accent-2);
    border: 0;
    height: 1px;
    margin: 20px auto;
}

.blog-button {
    max-width: 150px;
    margin: auto;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}

.blog-link {
    text-decoration: none;
    color: cornflowerblue;
    transition: all 200ms ease-in-out;
    
}

.blog-link:hover {		 
     color: #4169E1;		     
 }

@media screen and (max-width: 680px) {
    .header {
        margin-top: 10px;
    }
    .title {
        font-size: 100px;
    }
    .sub-title {
        letter-spacing: 0.5px;
        margin-top: -5px;
    }
    .buttons {
        margin-top: 0;
        justify-content: flex-start;
    }
    .corner-image {
        max-height: 300px;
    }
    .section-holder {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .left, .right {
        margin-bottom: 15px;
    }
    .description {
        max-width: 90%;
        text-align: left;
    }
    .cover {
        max-height: 45vh;
        justify-content: flex-start;
        text-align: left;
    }
    .flex {
        flex-direction: column;
    }
    .mainCode {
        margin: 10px 0;
    }
    .blog-button {
        margin: 0;
        margin-top: 15px;
    }
}
